<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>States</key>
	<dict>
		<key>Add_Next_Obstacle</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>1195.4518960467949</real>
					<key>controlPoint1Y</key>
					<real>347</real>
					<key>controlPoint2X</key>
					<real>1161.6320251303162</real>
					<key>controlPoint2Y</key>
					<real>426.75093921819837</real>
					<key>dstPointX</key>
					<real>1164.5668106946525</real>
					<key>dstPointY</key>
					<real>454.1422711520047</real>
					<key>srcPointX</key>
					<real>1223</real>
					<key>srcPointY</key>
					<real>347</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>60</real>
			<key>internalHeight</key>
			<real>0.0</real>
			<key>onEntryHeight</key>
			<real>0.0</real>
			<key>onExitHeight</key>
			<real>0.0</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>112</real>
			<key>x</key>
			<real>1274</real>
			<key>y</key>
			<real>347</real>
			<key>zoomedInternalHeight</key>
			<real>0.0</real>
			<key>zoomedOnEntryHeight</key>
			<real>0.0</real>
			<key>zoomedOnExitHeight</key>
			<real>0.0</real>
		</dict>
		<key>Get_A_Portion</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>320.86448386033646</real>
					<key>controlPoint1Y</key>
					<real>695.92525445223157</real>
					<key>controlPoint2X</key>
					<real>322.12854260412644</real>
					<key>controlPoint2Y</key>
					<real>637.28012059515777</real>
					<key>dstPointX</key>
					<real>311.71306176872582</real>
					<key>dstPointY</key>
					<real>613.8452887155064</real>
					<key>srcPointX</key>
					<real>305.18382255486404</real>
					<key>srcPointY</key>
					<real>716.21787496519585</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>60</real>
			<key>internalHeight</key>
			<real>0.0</real>
			<key>onEntryHeight</key>
			<real>0.0</real>
			<key>onExitHeight</key>
			<real>0.0</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>112</real>
			<key>x</key>
			<real>274</real>
			<key>y</key>
			<real>736</real>
			<key>zoomedInternalHeight</key>
			<real>0.0</real>
			<key>zoomedOnEntryHeight</key>
			<real>0.0</real>
			<key>zoomedOnExitHeight</key>
			<real>0.0</real>
		</dict>
		<key>Initial</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>414.75</real>
					<key>controlPoint1Y</key>
					<real>117</real>
					<key>controlPoint2X</key>
					<real>468.25</real>
					<key>controlPoint2Y</key>
					<real>117</real>
					<key>dstPointX</key>
					<real>505</real>
					<key>dstPointY</key>
					<real>117</real>
					<key>srcPointX</key>
					<real>378</real>
					<key>srcPointY</key>
					<real>117</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>60</real>
			<key>internalHeight</key>
			<real>0.0</real>
			<key>onEntryHeight</key>
			<real>0.0</real>
			<key>onExitHeight</key>
			<real>0.0</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>112</real>
			<key>x</key>
			<real>327</real>
			<key>y</key>
			<real>117</real>
			<key>zoomedInternalHeight</key>
			<real>311.5</real>
			<key>zoomedOnEntryHeight</key>
			<real>327</real>
			<key>zoomedOnExitHeight</key>
			<real>321.5</real>
		</dict>
		<key>InitialPseudoState</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>226</real>
					<key>controlPoint1Y</key>
					<real>81</real>
					<key>controlPoint2X</key>
					<real>256.71358595005717</real>
					<key>controlPoint2Y</key>
					<real>110.63603896932108</real>
					<key>dstPointX</key>
					<real>276.51257582328049</real>
					<key>dstPointY</key>
					<real>113.46446609406726</real>
					<key>srcPointX</key>
					<real>226</real>
					<key>srcPointY</key>
					<real>81</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>25</real>
			<key>internalHeight</key>
			<real>0.0</real>
			<key>onEntryHeight</key>
			<real>0.0</real>
			<key>onExitHeight</key>
			<real>0.0</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>25</real>
			<key>x</key>
			<real>232</real>
			<key>y</key>
			<real>81</real>
			<key>zoomedInternalHeight</key>
			<real>0.0</real>
			<key>zoomedOnEntryHeight</key>
			<real>0.0</real>
			<key>zoomedOnExitHeight</key>
			<real>0.0</real>
		</dict>
		<key>Is_Array_Full</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>1101.2239869402329</real>
					<key>controlPoint1Y</key>
					<real>416.44253759781105</real>
					<key>controlPoint2X</key>
					<real>899.01335108773844</real>
					<key>controlPoint2Y</key>
					<real>422.23958708689588</real>
					<key>dstPointX</key>
					<real>853.30704819869402</real>
					<key>dstPointY</key>
					<real>455.3372546962039</real>
					<key>srcPointX</key>
					<real>1137.3505956171116</real>
					<key>srcPointY</key>
					<real>459.79446801006566</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>1241.4493471648102</real>
					<key>controlPoint1Y</key>
					<real>477.96690773998534</real>
					<key>controlPoint2X</key>
					<real>1278.6012596136188</real>
					<key>controlPoint2Y</key>
					<real>392.37346597790929</real>
					<key>dstPointX</key>
					<real>1277.2834961778963</real>
					<key>dstPointY</key>
					<real>371.94813272421152</real>
					<key>srcPointX</key>
					<real>1220.986833612792</real>
					<key>srcPointY</key>
					<real>478.43196486616762</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>60</real>
			<key>internalHeight</key>
			<real>0.0</real>
			<key>onEntryHeight</key>
			<real>0.0</real>
			<key>onExitHeight</key>
			<real>0.0</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>112</real>
			<key>x</key>
			<real>1170</real>
			<key>y</key>
			<real>479</real>
			<key>zoomedInternalHeight</key>
			<real>0.0</real>
			<key>zoomedOnEntryHeight</key>
			<real>0.0</real>
			<key>zoomedOnExitHeight</key>
			<real>0.0</real>
		</dict>
		<key>Is_This_The_End</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>383.57129597643768</real>
					<key>controlPoint1Y</key>
					<real>539.98983876781256</real>
					<key>controlPoint2X</key>
					<real>513.10552196352444</real>
					<key>controlPoint2Y</key>
					<real>510.44028946292667</real>
					<key>dstPointX</key>
					<real>558.43843928612034</real>
					<key>dstPointY</key>
					<real>467.03643245193075</real>
					<key>srcPointX</key>
					<real>332.50040703154349</real>
					<key>srcPointY</key>
					<real>576.46904515702261</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>246.55825436535005</real>
					<key>controlPoint1Y</key>
					<real>633.18817811600491</real>
					<key>controlPoint2X</key>
					<real>227.87151107713362</real>
					<key>controlPoint2Y</key>
					<real>694.61902698109384</real>
					<key>dstPointX</key>
					<real>243.64339491808738</real>
					<key>dstPointY</key>
					<real>715.91107016638136</real>
					<key>srcPointX</key>
					<real>261.75342043747025</real>
					<key>srcPointY</key>
					<real>611.48079801297604</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>60</real>
			<key>internalHeight</key>
			<real>0.0</real>
			<key>onEntryHeight</key>
			<real>0.0</real>
			<key>onExitHeight</key>
			<real>0.0</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>112</real>
			<key>x</key>
			<real>291</real>
			<key>y</key>
			<real>591</real>
			<key>zoomedInternalHeight</key>
			<real>316.5</real>
			<key>zoomedOnEntryHeight</key>
			<real>327</real>
			<key>zoomedOnExitHeight</key>
			<real>316.5</real>
		</dict>
		<key>Last_Obstacle_Only</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>981.59861864313086</real>
					<key>controlPoint1Y</key>
					<real>475.48524800004498</real>
					<key>controlPoint2X</key>
					<real>849.371177637757</real>
					<key>controlPoint2Y</key>
					<real>508.26193160095386</real>
					<key>dstPointX</key>
					<real>838.84408534543104</real>
					<key>dstPointY</key>
					<real>491.25662866719654</real>
					<key>srcPointX</key>
					<real>1000.0215429690095</real>
					<key>srcPointY</key>
					<real>483.26958222224721</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>60</real>
			<key>internalHeight</key>
			<real>0.0</real>
			<key>onEntryHeight</key>
			<real>0.0</real>
			<key>onExitHeight</key>
			<real>0.0</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>112</real>
			<key>x</key>
			<real>1047</real>
			<key>y</key>
			<real>493</real>
			<key>zoomedInternalHeight</key>
			<real>0.0</real>
			<key>zoomedOnEntryHeight</key>
			<real>0.0</real>
			<key>zoomedOnExitHeight</key>
			<real>0.0</real>
		</dict>
		<key>Load_Obstacles</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>561.89198682138317</real>
					<key>controlPoint1Y</key>
					<real>164.73263802534962</real>
					<key>controlPoint2X</key>
					<real>585</real>
					<key>controlPoint2Y</key>
					<real>207.11486114513866</real>
					<key>dstPointX</key>
					<real>585</real>
					<key>dstPointY</key>
					<real>230</real>
					<key>srcPointX</key>
					<real>560.06700633642743</real>
					<key>srcPointY</key>
					<real>141.92038196340312</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>60</real>
			<key>internalHeight</key>
			<real>0.0</real>
			<key>onEntryHeight</key>
			<real>0.0</real>
			<key>onExitHeight</key>
			<real>0.0</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>112</real>
			<key>x</key>
			<real>556</real>
			<key>y</key>
			<real>117</real>
			<key>zoomedInternalHeight</key>
			<real>316.5</real>
			<key>zoomedOnEntryHeight</key>
			<real>327</real>
			<key>zoomedOnExitHeight</key>
			<real>316.5</real>
		</dict>
		<key>No_Change</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>650.15122046748115</real>
					<key>controlPoint1Y</key>
					<real>522.11442565172194</real>
					<key>controlPoint2X</key>
					<real>638.87155904318399</real>
					<key>controlPoint2Y</key>
					<real>499.74842931280432</real>
					<key>dstPointX</key>
					<real>632.23343481136533</real>
					<key>dstPointY</key>
					<real>480.88218149605655</real>
					<key>srcPointX</key>
					<real>662.78467949072592</real>
					<key>srcPointY</key>
					<real>537.61912536206773</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>60</real>
			<key>internalHeight</key>
			<real>0.0</real>
			<key>onEntryHeight</key>
			<real>0.0</real>
			<key>onExitHeight</key>
			<real>0.0</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>112</real>
			<key>x</key>
			<real>695</real>
			<key>y</key>
			<real>557</real>
			<key>zoomedInternalHeight</key>
			<real>0.0</real>
			<key>zoomedOnEntryHeight</key>
			<real>0.0</real>
			<key>zoomedOnExitHeight</key>
			<real>0.0</real>
		</dict>
		<key>Observe</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>522.67427065605204</real>
					<key>controlPoint1Y</key>
					<real>344.47765613885497</real>
					<key>controlPoint2X</key>
					<real>527.66163319213365</real>
					<key>controlPoint2Y</key>
					<real>239.0760882653185</real>
					<key>dstPointX</key>
					<real>468.91199303192479</real>
					<key>dstPointY</key>
					<real>242.53194945121322</real>
					<key>srcPointX</key>
					<real>562.10248354997543</real>
					<key>srcPointY</key>
					<real>388.16837853482417</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>682.60543778152203</real>
					<key>controlPoint1Y</key>
					<real>374.83795221820048</real>
					<key>controlPoint2X</key>
					<real>823.72527292405687</real>
					<key>controlPoint2Y</key>
					<real>292.60107101575545</real>
					<key>dstPointX</key>
					<real>850.82263458490468</real>
					<key>dstPointY</key>
					<real>297.52786404500046</real>
					<key>srcPointX</key>
					<real>661.82238655144533</real>
					<key>srcPointY</key>
					<real>392.91017067913674</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>600.85178285617337</real>
					<key>controlPoint1Y</key>
					<real>503.69199048507778</real>
					<key>controlPoint2X</key>
					<real>584.48029419776003</real>
					<key>controlPoint2Y</key>
					<real>580.02164862781297</real>
					<key>dstPointX</key>
					<real>574.48584512796845</real>
					<key>dstPointY</key>
					<real>597.34536034878499</real>
					<key>srcPointX</key>
					<real>602.66249777702376</real>
					<key>srcPointY</key>
					<real>483.77412635572364</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>748.03837422601532</real>
					<key>controlPoint1Y</key>
					<real>484.70275599853829</real>
					<key>controlPoint2X</key>
					<real>843.69299004336028</real>
					<key>controlPoint2Y</key>
					<real>671.05343767325871</real>
					<key>dstPointX</key>
					<real>925.32369861593725</real>
					<key>dstPointY</key>
					<real>661.81222538202348</real>
					<key>srcPointX</key>
					<real>672.96680840341799</real>
					<key>srcPointY</key>
					<real>451.33761563293956</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>504.24851456173189</real>
					<key>controlPoint1Y</key>
					<real>460.90244906718647</real>
					<key>controlPoint2X</key>
					<real>217.77479891584255</real>
					<key>controlPoint2Y</key>
					<real>453.53657129908311</real>
					<key>dstPointX</key>
					<real>196.46788484632998</real>
					<key>dstPointY</key>
					<real>488.63031211945679</real>
					<key>srcPointX</key>
					<real>542.97352625852648</real>
					<key>srcPointY</key>
					<real>447.26688156831506</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>667.3306766575522</real>
					<key>controlPoint1Y</key>
					<real>486.11545422718655</real>
					<key>controlPoint2X</key>
					<real>709.73279879320944</real>
					<key>controlPoint2Y</key>
					<real>512.97946437039013</real>
					<key>dstPointX</key>
					<real>705.58271462610821</real>
					<key>dstPointY</key>
					<real>532.544146872439</real>
					<key>srcPointX</key>
					<real>654.36830406698505</real>
					<key>srcPointY</key>
					<real>470.88466643327013</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>120</real>
			<key>internalHeight</key>
			<real>4</real>
			<key>onEntryHeight</key>
			<real>5</real>
			<key>onExitHeight</key>
			<real>4</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>150</real>
			<key>x</key>
			<real>609</real>
			<key>y</key>
			<real>429</real>
			<key>zoomedInternalHeight</key>
			<real>311.5</real>
			<key>zoomedOnEntryHeight</key>
			<real>327</real>
			<key>zoomedOnExitHeight</key>
			<real>321.5</real>
		</dict>
		<key>Output_Obstacles</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>938.39860183453413</real>
					<key>controlPoint1Y</key>
					<real>589.13689854935251</real>
					<key>controlPoint2X</key>
					<real>815.26426539668967</real>
					<key>controlPoint2Y</key>
					<real>545.20574432454794</real>
					<key>dstPointX</key>
					<real>813.64430599455886</real>
					<key>dstPointY</key>
					<real>494.98700285849247</real>
					<key>srcPointX</key>
					<real>957.05907550594065</real>
					<key>srcPointY</key>
					<real>635.78808272786853</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>1007.9811519148162</real>
					<key>controlPoint1Y</key>
					<real>605.73665384883009</real>
					<key>controlPoint2X</key>
					<real>1054.2459838661446</real>
					<key>controlPoint2Y</key>
					<real>550.42655916757599</real>
					<key>dstPointX</key>
					<real>1051.4181104346069</real>
					<key>dstPointY</key>
					<real>517.90601470489207</real>
					<key>srcPointX</key>
					<real>995.49994142904131</real>
					<key>srcPointY</key>
					<real>635.89957918945277</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>1084.4122564615589</real>
					<key>controlPoint1Y</key>
					<real>660.64834909804165</real>
					<key>controlPoint2X</key>
					<real>1219.9140022931697</real>
					<key>controlPoint2Y</key>
					<real>552.18110089058314</real>
					<key>dstPointX</key>
					<real>1193.4761753872051</real>
					<key>dstPointY</key>
					<real>501.19386328622318</real>
					<key>srcPointX</key>
					<real>1026.9898030589804</real>
					<key>srcPointY</key>
					<real>659.49990002999004</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>60</real>
			<key>internalHeight</key>
			<real>0.0</real>
			<key>onEntryHeight</key>
			<real>0.0</real>
			<key>onExitHeight</key>
			<real>0.0</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>112</real>
			<key>x</key>
			<real>976</real>
			<key>y</key>
			<real>659</real>
			<key>zoomedInternalHeight</key>
			<real>311.5</real>
			<key>zoomedOnEntryHeight</key>
			<real>327</real>
			<key>zoomedOnExitHeight</key>
			<real>321.5</real>
		</dict>
		<key>Plan_Settings</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>595.89833785296537</real>
					<key>controlPoint1Y</key>
					<real>308.2568000736685</real>
					<key>controlPoint2X</key>
					<real>595.50555160143108</real>
					<key>controlPoint2Y</key>
					<real>346.02456604902727</real>
					<key>dstPointX</key>
					<real>599.43538220040784</real>
					<key>dstPointY</key>
					<real>374.5158378916089</real>
					<key>srcPointX</key>
					<real>591.96850725398861</real>
					<key>srcPointY</key>
					<real>279.76552823108688</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>60</real>
			<key>internalHeight</key>
			<real>0.0</real>
			<key>onEntryHeight</key>
			<real>0.0</real>
			<key>onExitHeight</key>
			<real>0.0</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>112</real>
			<key>x</key>
			<real>585</real>
			<key>y</key>
			<real>255</real>
			<key>zoomedInternalHeight</key>
			<real>311.5</real>
			<key>zoomedOnEntryHeight</key>
			<real>327</real>
			<key>zoomedOnExitHeight</key>
			<real>321.5</real>
		</dict>
		<key>Receive_New_Plan</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>152.74353765604036</real>
					<key>controlPoint1Y</key>
					<real>558.0311185851557</real>
					<key>controlPoint2X</key>
					<real>218.01816209274543</real>
					<key>controlPoint2Y</key>
					<real>578.74446733586944</real>
					<key>dstPointX</key>
					<real>241.59814283175371</real>
					<key>dstPointY</key>
					<real>584.79061624330745</real>
					<key>srcPointX</key>
					<real>158.31899397999712</real>
					<key>srcPointY</key>
					<real>534.33542920833941</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>60</real>
			<key>internalHeight</key>
			<real>0.0</real>
			<key>onEntryHeight</key>
			<real>0.0</real>
			<key>onExitHeight</key>
			<real>0.0</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>112</real>
			<key>x</key>
			<real>170</real>
			<key>y</key>
			<real>510</real>
			<key>zoomedInternalHeight</key>
			<real>45</real>
			<key>zoomedOnEntryHeight</key>
			<real>572</real>
			<key>zoomedOnExitHeight</key>
			<real>343</real>
		</dict>
		<key>Record_Obstacle</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>342.11389554748672</real>
					<key>controlPoint1Y</key>
					<real>256.37615629154595</real>
					<key>controlPoint2X</key>
					<real>330.60256873843127</real>
					<key>controlPoint2Y</key>
					<real>278.90850542851865</real>
					<key>dstPointX</key>
					<real>329.69905634186455</real>
					<key>dstPointY</key>
					<real>306.01387732552121</real>
					<key>srcPointX</key>
					<real>368.45865066866435</real>
					<key>srcPointY</key>
					<real>249.93632726192476</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>435.20103387121668</real>
					<key>controlPoint1Y</key>
					<real>313.02506862909433</real>
					<key>controlPoint2X</key>
					<real>506.37659417466944</real>
					<key>controlPoint2Y</key>
					<real>383.56060264442493</real>
					<key>dstPointX</key>
					<real>546.61858190789553</real>
					<key>dstPointY</key>
					<real>404.04743276315821</real>
					<key>srcPointX</key>
					<real>427.12315734819913</real>
					<key>srcPointY</key>
					<real>268.59674775249766</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>60</real>
			<key>internalHeight</key>
			<real>0.0</real>
			<key>onEntryHeight</key>
			<real>0.0</real>
			<key>onExitHeight</key>
			<real>0.0</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>112</real>
			<key>x</key>
			<real>418</real>
			<key>y</key>
			<real>244</real>
			<key>zoomedInternalHeight</key>
			<real>309</real>
			<key>zoomedOnEntryHeight</key>
			<real>327</real>
			<key>zoomedOnExitHeight</key>
			<real>324</real>
		</dict>
		<key>Request_New_Plan</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>532.93886068896381</real>
					<key>controlPoint1Y</key>
					<real>574.73590074023639</real>
					<key>controlPoint2X</key>
					<real>556.9596035500274</real>
					<key>controlPoint2Y</key>
					<real>490.68504603413385</real>
					<key>dstPointX</key>
					<real>568.71546156777708</real>
					<key>dstPointY</key>
					<real>473.97935306154216</real>
					<key>srcPointX</key>
					<real>537.53216515836334</real>
					<key>srcPointY</key>
					<real>594.64022010763449</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>60</real>
			<key>internalHeight</key>
			<real>0.0</real>
			<key>onEntryHeight</key>
			<real>0.0</real>
			<key>onExitHeight</key>
			<real>0.0</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>112</real>
			<key>x</key>
			<real>549</real>
			<key>y</key>
			<real>619</real>
			<key>zoomedInternalHeight</key>
			<real>0.0</real>
			<key>zoomedOnEntryHeight</key>
			<real>0.0</real>
			<key>zoomedOnExitHeight</key>
			<real>0.0</real>
		</dict>
		<key>Save_Obstacles</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>391.13170106532607</real>
					<key>controlPoint1Y</key>
					<real>389.61203728613879</real>
					<key>controlPoint2X</key>
					<real>491.49521237189629</real>
					<key>controlPoint2Y</key>
					<real>407.4401220327602</real>
					<key>dstPointX</key>
					<real>540.48981351921316</real>
					<key>dstPointY</key>
					<real>417.71318356364918</real>
					<key>srcPointX</key>
					<real>359.85944742527562</real>
					<key>srcPointY</key>
					<real>350.52172023607574</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>60</real>
			<key>internalHeight</key>
			<real>0.0</real>
			<key>onEntryHeight</key>
			<real>0.0</real>
			<key>onExitHeight</key>
			<real>0.0</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>112</real>
			<key>x</key>
			<real>328</real>
			<key>y</key>
			<real>331</real>
			<key>zoomedInternalHeight</key>
			<real>311.5</real>
			<key>zoomedOnEntryHeight</key>
			<real>327</real>
			<key>zoomedOnExitHeight</key>
			<real>321.5</real>
		</dict>
		<key>Send_Obstacles</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>750.45779081527269</real>
					<key>controlPoint1Y</key>
					<real>442.83825207284667</real>
					<key>controlPoint2X</key>
					<real>700.9925979678917</real>
					<key>controlPoint2Y</key>
					<real>442.42859506879938</real>
					<key>dstPointX</key>
					<real>677.96482283737726</real>
					<key>dstPointY</key>
					<real>438.42376461131857</real>
					<key>srcPointX</key>
					<real>769.79873550602031</real>
					<key>srcPointY</key>
					<real>455.96246454156835</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>60</real>
			<key>internalHeight</key>
			<real>0.0</real>
			<key>onEntryHeight</key>
			<real>0.0</real>
			<key>onExitHeight</key>
			<real>0.0</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>112</real>
			<key>x</key>
			<real>812</real>
			<key>y</key>
			<real>470</real>
			<key>zoomedInternalHeight</key>
			<real>0.0</real>
			<key>zoomedOnEntryHeight</key>
			<real>0.0</real>
			<key>zoomedOnExitHeight</key>
			<real>0.0</real>
		</dict>
		<key>Set_Next_Goal</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>897.57403484214535</real>
					<key>controlPoint1Y</key>
					<real>385.64357107308956</real>
					<key>controlPoint2X</key>
					<real>733.47380070316808</real>
					<key>controlPoint2Y</key>
					<real>400.15682456726614</real>
					<key>dstPointX</key>
					<real>676.70957370739325</real>
					<key>dstPointY</key>
					<real>415.04580213992836</real>
					<key>srcPointX</key>
					<real>899.40702762873627</real>
					<key>srcPointY</key>
					<real>326.98780190217695</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>60</real>
			<key>internalHeight</key>
			<real>0.0</real>
			<key>onEntryHeight</key>
			<real>0.0</real>
			<key>onExitHeight</key>
			<real>0.0</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>112</real>
			<key>x</key>
			<real>901</real>
			<key>y</key>
			<real>302</real>
			<key>zoomedInternalHeight</key>
			<real>0.0</real>
			<key>zoomedOnEntryHeight</key>
			<real>0.0</real>
			<key>zoomedOnExitHeight</key>
			<real>0.0</real>
		</dict>
	</dict>
	<key>Version</key>
	<string>1.3</string>
</dict>
</plist>
