<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>States</key>
	<dict>
		<key>Detected_Intersection</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>1149.1313645487085</real>
					<key>controlPoint1Y</key>
					<real>600</real>
					<key>controlPoint2X</key>
					<real>989.0025656663056</real>
					<key>controlPoint2Y</key>
					<real>570.61778935545556</real>
					<key>dstPointX</key>
					<real>936.06244584051387</real>
					<key>dstPointY</key>
					<real>517.67766952966372</real>
					<key>srcPointX</key>
					<real>1224</real>
					<key>srcPointY</key>
					<real>600</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.94999999999999996</real>
				<key>green</key>
				<real>0.94999999999999996</real>
				<key>red</key>
				<real>0.94999999999999996</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>60</real>
			<key>internalHeight</key>
			<real>2</real>
			<key>onEntryHeight</key>
			<real>9</real>
			<key>onExitHeight</key>
			<real>2</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>112</real>
			<key>x</key>
			<real>1275</real>
			<key>y</key>
			<real>600</real>
			<key>zoomedInternalHeight</key>
			<real>307.5</real>
			<key>zoomedOnEntryHeight</key>
			<real>327</real>
			<key>zoomedOnExitHeight</key>
			<real>325.5</real>
		</dict>
		<key>Entering_Intersection</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>400</real>
					<key>controlPoint1Y</key>
					<real>700</real>
					<key>controlPoint2X</key>
					<real>400</real>
					<key>controlPoint2Y</key>
					<real>700</real>
					<key>dstPointX</key>
					<real>400</real>
					<key>dstPointY</key>
					<real>325</real>
					<key>srcPointX</key>
					<real>849</real>
					<key>srcPointY</key>
					<real>700</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.94999999999999996</real>
				<key>green</key>
				<real>0.94999999999999996</real>
				<key>red</key>
				<real>0.94999999999999996</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>60</real>
			<key>internalHeight</key>
			<real>13.5</real>
			<key>onEntryHeight</key>
			<real>14</real>
			<key>onExitHeight</key>
			<real>13.5</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>112</real>
			<key>x</key>
			<real>900</real>
			<key>y</key>
			<real>700</real>
			<key>zoomedInternalHeight</key>
			<real>2</real>
			<key>zoomedOnEntryHeight</key>
			<real>685</real>
			<key>zoomedOnExitHeight</key>
			<real>273</real>
		</dict>
		<key>Have_Obstacle</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>900</real>
					<key>controlPoint1Y</key>
					<real>367.5</real>
					<key>controlPoint2X</key>
					<real>900</real>
					<key>controlPoint2Y</key>
					<real>432.5</real>
					<key>dstPointX</key>
					<real>900</real>
					<key>dstPointY</key>
					<real>475</real>
					<key>srcPointX</key>
					<real>900</real>
					<key>srcPointY</key>
					<real>325</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.94999999999999996</real>
				<key>green</key>
				<real>0.94999999999999996</real>
				<key>red</key>
				<real>0.94999999999999996</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>60</real>
			<key>internalHeight</key>
			<real>51</real>
			<key>onEntryHeight</key>
			<real>51</real>
			<key>onExitHeight</key>
			<real>51</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>112</real>
			<key>x</key>
			<real>900</real>
			<key>y</key>
			<real>300</real>
			<key>zoomedInternalHeight</key>
			<real>219.5</real>
			<key>zoomedOnEntryHeight</key>
			<real>355</real>
			<key>zoomedOnExitHeight</key>
			<real>385.5</real>
		</dict>
		<key>Initial</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>400</real>
					<key>controlPoint1Y</key>
					<real>167.5</real>
					<key>controlPoint2X</key>
					<real>400</real>
					<key>controlPoint2Y</key>
					<real>232.5</real>
					<key>dstPointX</key>
					<real>400</real>
					<key>dstPointY</key>
					<real>275</real>
					<key>srcPointX</key>
					<real>400</real>
					<key>srcPointY</key>
					<real>125</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.94999999999999996</real>
				<key>green</key>
				<real>0.94999999999999996</real>
				<key>red</key>
				<real>0.94999999999999996</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>60</real>
			<key>internalHeight</key>
			<real>51</real>
			<key>onEntryHeight</key>
			<real>51</real>
			<key>onExitHeight</key>
			<real>51</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>112</real>
			<key>x</key>
			<real>400</real>
			<key>y</key>
			<real>100</real>
			<key>zoomedInternalHeight</key>
			<real>281</real>
			<key>zoomedOnEntryHeight</key>
			<real>311.5</real>
			<key>zoomedOnExitHeight</key>
			<real>259.5</real>
		</dict>
		<key>InitialPseudoState</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>301.5</real>
					<key>controlPoint1Y</key>
					<real>74.5</real>
					<key>controlPoint2X</key>
					<real>329</real>
					<key>controlPoint2Y</key>
					<real>100</real>
					<key>dstPointX</key>
					<real>349</real>
					<key>dstPointY</key>
					<real>100</real>
					<key>srcPointX</key>
					<real>301.5</real>
					<key>srcPointY</key>
					<real>74.5</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>25</real>
			<key>internalHeight</key>
			<real>0.0</real>
			<key>onEntryHeight</key>
			<real>0.0</real>
			<key>onExitHeight</key>
			<real>0.0</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>25</real>
			<key>x</key>
			<real>300</real>
			<key>y</key>
			<real>75</real>
			<key>zoomedInternalHeight</key>
			<real>0.0</real>
			<key>zoomedOnEntryHeight</key>
			<real>0.0</real>
			<key>zoomedOnExitHeight</key>
			<real>0.0</real>
		</dict>
		<key>Not_Detected_Intersection</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>669.88084071488959</real>
					<key>controlPoint1Y</key>
					<real>600</real>
					<key>controlPoint2X</key>
					<real>815.2314445961573</real>
					<key>controlPoint2Y</key>
					<real>566.38377909299265</real>
					<key>dstPointX</key>
					<real>863.93755415948613</real>
					<key>dstPointY</key>
					<real>517.67766952966372</real>
					<key>srcPointX</key>
					<real>601</real>
					<key>srcPointY</key>
					<real>600</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.94999999999999996</real>
				<key>green</key>
				<real>0.94999999999999996</real>
				<key>red</key>
				<real>0.94999999999999996</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>60</real>
			<key>internalHeight</key>
			<real>51</real>
			<key>onEntryHeight</key>
			<real>51</real>
			<key>onExitHeight</key>
			<real>51</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>112</real>
			<key>x</key>
			<real>550</real>
			<key>y</key>
			<real>600</real>
			<key>zoomedInternalHeight</key>
			<real>311.5</real>
			<key>zoomedOnEntryHeight</key>
			<real>327</real>
			<key>zoomedOnExitHeight</key>
			<real>321.5</real>
		</dict>
		<key>Observe_Intersection</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>900</real>
					<key>controlPoint1Y</key>
					<real>567.5</real>
					<key>controlPoint2X</key>
					<real>900</real>
					<key>controlPoint2Y</key>
					<real>632.5</real>
					<key>dstPointX</key>
					<real>900</real>
					<key>dstPointY</key>
					<real>675</real>
					<key>srcPointX</key>
					<real>900</real>
					<key>srcPointY</key>
					<real>525</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>790.09150350543541</real>
					<key>controlPoint1Y</key>
					<real>456.67330523571661</real>
					<key>controlPoint2X</key>
					<real>626.76342371428848</real>
					<key>controlPoint2Y</key>
					<real>524.34830940265851</real>
					<key>dstPointX</key>
					<real>581.85944742527568</real>
					<key>dstPointY</key>
					<real>580.47827976392432</real>
					<key>srcPointX</key>
					<real>854.38421325900424</real>
					<key>srcPointY</key>
					<real>488.81966011250097</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>1014.456330247549</real>
					<key>controlPoint1Y</key>
					<real>454.39938835922436</real>
					<key>controlPoint2X</key>
					<real>1184.5143259483305</real>
					<key>controlPoint2Y</key>
					<real>527.89910225918061</real>
					<key>dstPointX</key>
					<real>1238.9375541594861</real>
					<key>dstPointY</key>
					<real>582.32233047033628</real>
					<key>srcPointX</key>
					<real>945.61578674099576</real>
					<key>srcPointY</key>
					<real>488.81966011250097</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.94999999999999996</real>
				<key>green</key>
				<real>0.94999999999999996</real>
				<key>red</key>
				<real>0.94999999999999996</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>60</real>
			<key>internalHeight</key>
			<real>4</real>
			<key>onEntryHeight</key>
			<real>5</real>
			<key>onExitHeight</key>
			<real>4</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>112</real>
			<key>x</key>
			<real>900</real>
			<key>y</key>
			<real>500</real>
			<key>zoomedInternalHeight</key>
			<real>250.5</real>
			<key>zoomedOnEntryHeight</key>
			<real>355</real>
			<key>zoomedOnExitHeight</key>
			<real>354.5</real>
		</dict>
		<key>Observe_Obstacle</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>600</real>
					<key>controlPoint1Y</key>
					<real>200</real>
					<key>controlPoint2X</key>
					<real>700</real>
					<key>controlPoint2Y</key>
					<real>200</real>
					<key>dstPointX</key>
					<real>854.38421325900424</real>
					<key>dstPointY</key>
					<real>288.81966011250103</real>
					<key>srcPointX</key>
					<real>440.18924305995273</real>
					<key>srcPointY</key>
					<real>284.60889895069215</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>60</real>
			<key>internalHeight</key>
			<real>0.0</real>
			<key>onEntryHeight</key>
			<real>0.0</real>
			<key>onExitHeight</key>
			<real>0.0</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>112</real>
			<key>x</key>
			<real>400</real>
			<key>y</key>
			<real>300</real>
			<key>zoomedInternalHeight</key>
			<real>281.5</real>
			<key>zoomedOnEntryHeight</key>
			<real>327</real>
			<key>zoomedOnExitHeight</key>
			<real>351.5</real>
		</dict>
		<key>SUSPENDED</key>
		<dict>
			<key>Transitions</key>
			<array/>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>0.25</real>
				<key>blue</key>
				<real>0.45000000000000001</real>
				<key>green</key>
				<real>0.41999999999999998</real>
				<key>red</key>
				<real>0.23999999999999999</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>60</real>
			<key>internalHeight</key>
			<real>0.0</real>
			<key>onEntryHeight</key>
			<real>0.0</real>
			<key>onExitHeight</key>
			<real>0.0</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>112</real>
			<key>x</key>
			<real>100</real>
			<key>y</key>
			<real>150</real>
			<key>zoomedInternalHeight</key>
			<real>280.5</real>
			<key>zoomedOnEntryHeight</key>
			<real>290.5</real>
			<key>zoomedOnExitHeight</key>
			<real>281</real>
		</dict>
	</dict>
	<key>Version</key>
	<string>1.3</string>
</dict>
</plist>
