<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>States</key>
	<dict>
		<key>Initial</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>150</real>
					<key>controlPoint1Y</key>
					<real>313.88905254137001</real>
					<key>controlPoint2X</key>
					<real>211.43884139356339</real>
					<key>controlPoint2Y</key>
					<real>375.12513289457866</real>
					<key>dstPointX</key>
					<real>238.93755415948607</real>
					<key>dstPointY</key>
					<real>402.62384566050133</real>
					<key>srcPointX</key>
					<real>150</real>
					<key>srcPointY</key>
					<real>275</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>60</real>
			<key>internalHeight</key>
			<real>0.0</real>
			<key>onEntryHeight</key>
			<real>0.0</real>
			<key>onExitHeight</key>
			<real>0.0</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>112</real>
			<key>x</key>
			<real>150</real>
			<key>y</key>
			<real>250</real>
			<key>zoomedInternalHeight</key>
			<real>276</real>
			<key>zoomedOnEntryHeight</key>
			<real>290.5</real>
			<key>zoomedOnExitHeight</key>
			<real>285.5</real>
		</dict>
		<key>InitialPseudoState</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>50</real>
					<key>controlPoint1Y</key>
					<real>200</real>
					<key>controlPoint2X</key>
					<real>86.495669439005965</real>
					<key>controlPoint2Y</key>
					<real>229.87538820250191</real>
					<key>dstPointX</key>
					<real>104.38421325900428</real>
					<key>dstPointY</key>
					<real>238.81966011250105</real>
					<key>srcPointX</key>
					<real>50</real>
					<key>srcPointY</key>
					<real>200</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>25</real>
			<key>internalHeight</key>
			<real>0.0</real>
			<key>onEntryHeight</key>
			<real>0.0</real>
			<key>onExitHeight</key>
			<real>0.0</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>25</real>
			<key>x</key>
			<real>50</real>
			<key>y</key>
			<real>200</real>
			<key>zoomedInternalHeight</key>
			<real>0.0</real>
			<key>zoomedOnEntryHeight</key>
			<real>0.0</real>
			<key>zoomedOnExitHeight</key>
			<real>0.0</real>
		</dict>
		<key>Not_Turning</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>75</real>
					<key>controlPoint1Y</key>
					<real>519.86321601659529</real>
					<key>controlPoint2X</key>
					<real>189.25733297805854</real>
					<key>controlPoint2Y</key>
					<real>500.02675103897008</real>
					<key>dstPointX</key>
					<real>229.3842132590043</real>
					<key>dstPointY</key>
					<real>479.96331089849718</real>
					<key>srcPointX</key>
					<real>75</real>
					<key>srcPointY</key>
					<real>475</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>60</real>
			<key>internalHeight</key>
			<real>0.0</real>
			<key>onEntryHeight</key>
			<real>0.0</real>
			<key>onExitHeight</key>
			<real>0.0</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>112</real>
			<key>x</key>
			<real>75</real>
			<key>y</key>
			<real>450</real>
			<key>zoomedInternalHeight</key>
			<real>0.0</real>
			<key>zoomedOnEntryHeight</key>
			<real>0.0</real>
			<key>zoomedOnExitHeight</key>
			<real>0.0</real>
		</dict>
		<key>Not_Yet</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>562.27162716425494</real>
					<key>controlPoint1Y</key>
					<real>126.19233622469014</real>
					<key>controlPoint2X</key>
					<real>597.30683634842239</real>
					<key>controlPoint2Y</key>
					<real>165.69161265927261</real>
					<key>dstPointX</key>
					<real>613.93755415948613</real>
					<key>dstPointY</key>
					<real>182.32233047033631</real>
					<key>srcPointX</key>
					<real>582.06960084973196</real>
					<key>srcPointY</key>
					<real>113.4958096220472</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>60</real>
			<key>internalHeight</key>
			<real>0.0</real>
			<key>onEntryHeight</key>
			<real>0.0</real>
			<key>onExitHeight</key>
			<real>0.0</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>112</real>
			<key>x</key>
			<real>625</real>
			<key>y</key>
			<real>100</real>
			<key>zoomedInternalHeight</key>
			<real>0.0</real>
			<key>zoomedOnEntryHeight</key>
			<real>0.0</real>
			<key>zoomedOnExitHeight</key>
			<real>0.0</real>
		</dict>
		<key>Observe_Turn</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>381.1284018738175</real>
					<key>controlPoint1Y</key>
					<real>389.78038153509192</real>
					<key>controlPoint2X</key>
					<real>506.344839533364</real>
					<key>controlPoint2Y</key>
					<real>325.00000000000006</real>
					<key>dstPointX</key>
					<real>574</real>
					<key>dstPointY</key>
					<real>325</real>
					<key>srcPointX</key>
					<real>320.6157867409957</real>
					<key>srcPointY</key>
					<real>420.03668910150282</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>400.49505099518609</real>
					<key>controlPoint1Y</key>
					<real>450</real>
					<key>controlPoint2X</key>
					<real>622.49060080975642</real>
					<key>controlPoint2Y</key>
					<real>375.5248420472991</real>
					<key>dstPointX</key>
					<real>623.98020393882041</real>
					<key>dstPointY</key>
					<real>450.00499850049982</real>
					<key>srcPointX</key>
					<real>326</real>
					<key>srcPointY</key>
					<real>450</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>393.77949222799037</real>
					<key>controlPoint1Y</key>
					<real>516.54516364199458</real>
					<key>controlPoint2X</key>
					<real>625</real>
					<key>controlPoint2Y</key>
					<real>518.20049052265279</real>
					<key>dstPointX</key>
					<real>625</real>
					<key>dstPointY</key>
					<real>600</real>
					<key>srcPointX</key>
					<real>320.6157867409957</real>
					<key>srcPointY</key>
					<real>479.96331089849718</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>189.25733297805854</real>
					<key>controlPoint1Y</key>
					<real>399.97324896102992</real>
					<key>controlPoint2X</key>
					<real>74.999999999999986</real>
					<key>controlPoint2Y</key>
					<real>380.13678398340471</real>
					<key>dstPointX</key>
					<real>75</real>
					<key>dstPointY</key>
					<real>425</real>
					<key>srcPointX</key>
					<real>229.3842132590043</real>
					<key>srcPointY</key>
					<real>420.03668910150282</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>144</real>
			<key>internalHeight</key>
			<real>0.0</real>
			<key>onEntryHeight</key>
			<real>0.0</real>
			<key>onExitHeight</key>
			<real>0.0</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>112</real>
			<key>x</key>
			<real>275</real>
			<key>y</key>
			<real>450</real>
			<key>zoomedInternalHeight</key>
			<real>276</real>
			<key>zoomedOnEntryHeight</key>
			<real>290.5</real>
			<key>zoomedOnExitHeight</key>
			<real>285.5</real>
		</dict>
		<key>SUSPENDED</key>
		<dict>
			<key>Transitions</key>
			<array/>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>0.25</real>
				<key>blue</key>
				<real>0.45000000000000001</real>
				<key>green</key>
				<real>0.41999999999999998</real>
				<key>red</key>
				<real>0.23999999999999999</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>60</real>
			<key>internalHeight</key>
			<real>0.0</real>
			<key>onEntryHeight</key>
			<real>0.0</real>
			<key>onExitHeight</key>
			<real>0.0</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>112</real>
			<key>x</key>
			<real>112</real>
			<key>y</key>
			<real>60</real>
			<key>zoomedInternalHeight</key>
			<real>0.0</real>
			<key>zoomedOnEntryHeight</key>
			<real>0.0</real>
			<key>zoomedOnExitHeight</key>
			<real>0.0</real>
		</dict>
		<key>Turn_Around</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>676.10647193664283</real>
					<key>controlPoint1Y</key>
					<real>292.27830437420738</real>
					<key>controlPoint2X</key>
					<real>637.29464973124129</real>
					<key>controlPoint2Y</key>
					<real>245.554844541828</real>
					<key>dstPointX</key>
					<real>641.03467743733347</real>
					<key>dstPointY</key>
					<real>224.61068938771206</real>
					<key>srcPointX</key>
					<real>661.06244584051387</real>
					<key>srcPointY</key>
					<real>307.32233047033634</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>60</real>
			<key>internalHeight</key>
			<real>0.0</real>
			<key>onEntryHeight</key>
			<real>0.0</real>
			<key>onExitHeight</key>
			<real>0.0</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>112</real>
			<key>x</key>
			<real>625</real>
			<key>y</key>
			<real>325</real>
			<key>zoomedInternalHeight</key>
			<real>276</real>
			<key>zoomedOnEntryHeight</key>
			<real>290.5</real>
			<key>zoomedOnExitHeight</key>
			<real>285.5</real>
		</dict>
		<key>Turn_Completed</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>701.90953275259346</real>
					<key>controlPoint1Y</key>
					<real>166.47524355825669</real>
					<key>controlPoint2X</key>
					<real>676.90953275259346</real>
					<key>controlPoint2Y</key>
					<real>133.52475644174331</real>
					<key>dstPointX</key>
					<real>661.06244584051387</real>
					<key>dstPointY</key>
					<real>117.67766952966369</real>
					<key>srcPointX</key>
					<real>686.06244584051387</real>
					<key>srcPointY</key>
					<real>182.32233047033631</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>481.9375580994847</real>
					<key>controlPoint1Y</key>
					<real>200.00000000000006</real>
					<key>controlPoint2X</key>
					<real>199.84019108916775</real>
					<key>controlPoint2Y</key>
					<real>285.36954712233688</real>
					<key>dstPointX</key>
					<real>252.19210662950215</real>
					<key>dstPointY</key>
					<real>390.07337820300563</real>
					<key>srcPointX</key>
					<real>599</real>
					<key>srcPointY</key>
					<real>200</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>60</real>
			<key>internalHeight</key>
			<real>0.0</real>
			<key>onEntryHeight</key>
			<real>0.0</real>
			<key>onExitHeight</key>
			<real>0.0</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>112</real>
			<key>x</key>
			<real>650</real>
			<key>y</key>
			<real>200</real>
			<key>zoomedInternalHeight</key>
			<real>284</real>
			<key>zoomedOnEntryHeight</key>
			<real>278.5</real>
			<key>zoomedOnExitHeight</key>
			<real>289.5</real>
		</dict>
		<key>Turn_Left</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>772</real>
					<key>controlPoint1Y</key>
					<real>675</real>
					<key>controlPoint2X</key>
					<real>795</real>
					<key>controlPoint2Y</key>
					<real>453</real>
					<key>dstPointX</key>
					<real>671.10395015936035</real>
					<key>dstPointY</key>
					<real>222.75916193656514</real>
					<key>srcPointX</key>
					<real>618.92359374846001</real>
					<key>srcPointY</key>
					<real>499.82192096217307</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>60</real>
			<key>internalHeight</key>
			<real>0.0</real>
			<key>onEntryHeight</key>
			<real>0.0</real>
			<key>onExitHeight</key>
			<real>0.0</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>112</real>
			<key>x</key>
			<real>625</real>
			<key>y</key>
			<real>475</real>
			<key>zoomedInternalHeight</key>
			<real>276</real>
			<key>zoomedOnEntryHeight</key>
			<real>290.5</real>
			<key>zoomedOnExitHeight</key>
			<real>285.5</real>
		</dict>
		<key>Turn_Right</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>1075</real>
					<key>controlPoint1Y</key>
					<real>1000</real>
					<key>controlPoint2X</key>
					<real>845</real>
					<key>controlPoint2Y</key>
					<real>328</real>
					<key>dstPointX</key>
					<real>695.82694331530797</real>
					<key>dstPointY</key>
					<real>210.97088246262501</real>
					<key>srcPointX</key>
					<real>625</real>
					<key>srcPointY</key>
					<real>650</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>60</real>
			<key>internalHeight</key>
			<real>0.0</real>
			<key>onEntryHeight</key>
			<real>0.0</real>
			<key>onExitHeight</key>
			<real>0.0</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>112</real>
			<key>x</key>
			<real>625</real>
			<key>y</key>
			<real>625</real>
			<key>zoomedInternalHeight</key>
			<real>273.5</real>
			<key>zoomedOnEntryHeight</key>
			<real>290.5</real>
			<key>zoomedOnExitHeight</key>
			<real>288</real>
		</dict>
	</dict>
	<key>Version</key>
	<string>1.3</string>
</dict>
</plist>
