<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>States</key>
	<dict>
		<key>Continue_Forward</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>810.41891695834272</real>
					<key>controlPoint1Y</key>
					<real>295.95296225321181</real>
					<key>controlPoint2X</key>
					<real>781.39213496363413</real>
					<key>controlPoint2Y</key>
					<real>354.77851043281248</real>
					<key>dstPointX</key>
					<real>759.21415071379943</real>
					<key>dstPointY</key>
					<real>388.17409763726482</real>
					<key>srcPointX</key>
					<real>846.32340832565706</real>
					<key>srcPointY</key>
					<real>278.12052748477493</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.94999999999999996</real>
				<key>green</key>
				<real>0.94999999999999996</real>
				<key>red</key>
				<real>0.94999999999999996</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>60</real>
			<key>internalHeight</key>
			<real>51</real>
			<key>onEntryHeight</key>
			<real>51</real>
			<key>onExitHeight</key>
			<real>51</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>112</real>
			<key>x</key>
			<real>892</real>
			<key>y</key>
			<real>267</real>
			<key>zoomedInternalHeight</key>
			<real>307</real>
			<key>zoomedOnEntryHeight</key>
			<real>327</real>
			<key>zoomedOnExitHeight</key>
			<real>326</real>
		</dict>
		<key>Forward</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>600.68697241275731</real>
					<key>controlPoint1Y</key>
					<real>423.36551051981115</real>
					<key>controlPoint2X</key>
					<real>465.22418307387278</real>
					<key>controlPoint2Y</key>
					<real>465.69694540463433</real>
					<key>dstPointX</key>
					<real>388.55226438759843</real>
					<key>dstPointY</key>
					<real>490.34795250019715</real>
					<key>srcPointX</key>
					<real>680.47467483312096</real>
					<key>srcPointY</key>
					<real>412.40294657064049</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>863.40813426707768</real>
					<key>controlPoint1Y</key>
					<real>442.62520082835192</real>
					<key>controlPoint2X</key>
					<real>1013.4177199053187</real>
					<key>controlPoint2Y</key>
					<real>486.56876770656368</real>
					<key>dstPointX</key>
					<real>1100.4196683781979</real>
					<key>dstPointY</key>
					<real>497.79942676565861</real>
					<key>srcPointX</key>
					<real>779.6781243634282</real>
					<key>srcPointY</key>
					<real>416.45743090973093</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>803.85973611199904</real>
					<key>controlPoint1Y</key>
					<real>370.69305607166535</real>
					<key>controlPoint2X</key>
					<real>829.57905108900536</real>
					<key>controlPoint2Y</key>
					<real>313.74351512690112</real>
					<key>dstPointX</key>
					<real>856.83707044553637</real>
					<key>dstPointY</key>
					<real>285.10787488683047</real>
					<key>srcPointX</key>
					<real>772.04330057391644</real>
					<key>srcPointY</key>
					<real>394.16035120448373</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.94999999999999996</real>
				<key>green</key>
				<real>0.94999999999999996</real>
				<key>red</key>
				<real>0.94999999999999996</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>60</real>
			<key>internalHeight</key>
			<real>4</real>
			<key>onEntryHeight</key>
			<real>5</real>
			<key>onExitHeight</key>
			<real>4</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>112</real>
			<key>x</key>
			<real>731</real>
			<key>y</key>
			<real>409</real>
			<key>zoomedInternalHeight</key>
			<real>238.5</real>
			<key>zoomedOnEntryHeight</key>
			<real>355</real>
			<key>zoomedOnExitHeight</key>
			<real>366.5</real>
		</dict>
		<key>Forward_Feedback</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>729.75400790953665</real>
					<key>controlPoint1Y</key>
					<real>648.37570221904309</real>
					<key>controlPoint2X</key>
					<real>730.24599209046335</real>
					<key>controlPoint2Y</key>
					<real>512.12429778095691</real>
					<key>dstPointX</key>
					<real>730.70219485837458</real>
					<key>dstPointY</key>
					<real>433.99957377615146</real>
					<key>srcPointX</key>
					<real>729.29780514162542</real>
					<key>srcPointY</key>
					<real>726.50042622384854</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.94999999999999996</real>
				<key>green</key>
				<real>0.94999999999999996</real>
				<key>red</key>
				<real>0.94999999999999996</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>60</real>
			<key>internalHeight</key>
			<real>4</real>
			<key>onEntryHeight</key>
			<real>5</real>
			<key>onExitHeight</key>
			<real>4</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>112</real>
			<key>x</key>
			<real>729</real>
			<key>y</key>
			<real>751.5</real>
			<key>zoomedInternalHeight</key>
			<real>251.5</real>
			<key>zoomedOnEntryHeight</key>
			<real>355</real>
			<key>zoomedOnExitHeight</key>
			<real>353.5</real>
		</dict>
		<key>Initial</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>730.44654915463229</real>
					<key>controlPoint1Y</key>
					<real>185.23446134963652</real>
					<key>controlPoint2X</key>
					<real>727.55345084536759</real>
					<key>controlPoint2Y</key>
					<real>309.76553865036351</real>
					<key>dstPointX</key>
					<real>729.59686162169839</real>
					<key>dstPointY</key>
					<real>384.00946352371398</real>
					<key>srcPointX</key>
					<real>728.40313837830161</real>
					<key>srcPointY</key>
					<real>110.99053647628602</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.94999999999999996</real>
				<key>green</key>
				<real>0.94999999999999996</real>
				<key>red</key>
				<real>0.94999999999999996</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>60</real>
			<key>internalHeight</key>
			<real>51</real>
			<key>onEntryHeight</key>
			<real>51</real>
			<key>onExitHeight</key>
			<real>51</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>112</real>
			<key>x</key>
			<real>727</real>
			<key>y</key>
			<real>86</real>
			<key>zoomedInternalHeight</key>
			<real>28</real>
			<key>zoomedOnEntryHeight</key>
			<real>421.5</real>
			<key>zoomedOnExitHeight</key>
			<real>510.5</real>
		</dict>
		<key>InitialPseudoState</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>627</real>
					<key>controlPoint1Y</key>
					<real>56</real>
					<key>controlPoint2X</key>
					<real>659.40783183595613</real>
					<key>controlPoint2Y</key>
					<real>73.456274963767413</real>
					<key>dstPointX</key>
					<real>678.07235941986517</real>
					<key>dstPointY</key>
					<real>78.945841900211235</real>
					<key>srcPointX</key>
					<real>627</real>
					<key>srcPointY</key>
					<real>56</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>25</real>
			<key>internalHeight</key>
			<real>0.0</real>
			<key>onEntryHeight</key>
			<real>0.0</real>
			<key>onExitHeight</key>
			<real>0.0</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>25</real>
			<key>x</key>
			<real>625</real>
			<key>y</key>
			<real>56</real>
			<key>zoomedInternalHeight</key>
			<real>0.0</real>
			<key>zoomedOnEntryHeight</key>
			<real>0.0</real>
			<key>zoomedOnExitHeight</key>
			<real>0.0</real>
		</dict>
		<key>SUSPENDED</key>
		<dict>
			<key>Transitions</key>
			<array/>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.20000000000000001</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>60</real>
			<key>internalHeight</key>
			<real>0.0</real>
			<key>onEntryHeight</key>
			<real>0.0</real>
			<key>onExitHeight</key>
			<real>0.0</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>112</real>
			<key>x</key>
			<real>276</real>
			<key>y</key>
			<real>101</real>
			<key>zoomedInternalHeight</key>
			<real>311.5</real>
			<key>zoomedOnEntryHeight</key>
			<real>327</real>
			<key>zoomedOnExitHeight</key>
			<real>321.5</real>
		</dict>
		<key>VeeringLeft</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>466.20625233260864</real>
					<key>controlPoint1Y</key>
					<real>566.04967369995381</real>
					<key>controlPoint2X</key>
					<real>602.79374766739136</real>
					<key>controlPoint2Y</key>
					<real>683.45032630004619</real>
					<key>dstPointX</key>
					<real>686.27202901703129</real>
					<key>dstPointY</key>
					<real>737.85069730810199</real>
					<key>srcPointX</key>
					<real>382.72797098296871</real>
					<key>srcPointY</key>
					<real>511.64930269189801</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>472.19071536507079</real>
					<key>controlPoint1Y</key>
					<real>502.03696628231341</real>
					<key>controlPoint2X</key>
					<real>614.00723260084374</real>
					<key>controlPoint2Y</key>
					<real>458.60862284539621</real>
					<key>dstPointX</key>
					<real>685.89603237646816</real>
					<key>dstPointY</key>
					<real>420.66864483780665</real>
					<key>srcPointX</key>
					<real>390.96319950801222</real>
					<key>srcPointY</key>
					<real>498.94955116809672</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.94999999999999996</real>
				<key>green</key>
				<real>0.94999999999999996</real>
				<key>red</key>
				<real>0.94999999999999996</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>60</real>
			<key>internalHeight</key>
			<real>51</real>
			<key>onEntryHeight</key>
			<real>51</real>
			<key>onExitHeight</key>
			<real>51</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>112</real>
			<key>x</key>
			<real>340</real>
			<key>y</key>
			<real>498</real>
			<key>zoomedInternalHeight</key>
			<real>311.5</real>
			<key>zoomedOnEntryHeight</key>
			<real>327</real>
			<key>zoomedOnExitHeight</key>
			<real>321.5</real>
		</dict>
		<key>VeeringRight</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>1016.22095367772</real>
					<key>controlPoint1Y</key>
					<real>567.73353805983288</real>
					<key>controlPoint2X</key>
					<real>863.77904632228001</real>
					<key>controlPoint2Y</key>
					<real>684.76646194016712</real>
					<key>dstPointX</key>
					<real>772.85544298580771</real>
					<key>dstPointY</key>
					<real>738.73888524771769</real>
					<key>srcPointX</key>
					<real>1107.1445570141923</real>
					<key>srcPointY</key>
					<real>513.76111475228231</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>1027.1223129938924</real>
					<key>controlPoint1Y</key>
					<real>448.85751061715837</real>
					<key>controlPoint2X</key>
					<real>870.32607172746407</real>
					<key>controlPoint2Y</key>
					<real>403.76413456751163</real>
					<key>dstPointX</key>
					<real>781.94568109873057</real>
					<key>dstPointY</key>
					<real>407.84646776079467</real>
					<key>srcPointX</key>
					<real>1105.7031430714092</real>
					<key>srcPointY</key>
					<real>489.51230167942958</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.94999999999999996</real>
				<key>green</key>
				<real>0.94999999999999996</real>
				<key>red</key>
				<real>0.94999999999999996</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>60</real>
			<key>internalHeight</key>
			<real>2</real>
			<key>onEntryHeight</key>
			<real>9</real>
			<key>onExitHeight</key>
			<real>2</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>112</real>
			<key>x</key>
			<real>1151</real>
			<key>y</key>
			<real>501</real>
			<key>zoomedInternalHeight</key>
			<real>344.5</real>
			<key>zoomedOnEntryHeight</key>
			<real>290.5</real>
			<key>zoomedOnExitHeight</key>
			<real>325</real>
		</dict>
	</dict>
	<key>Version</key>
	<string>1.3</string>
</dict>
</plist>
