<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>States</key>
	<dict>
		<key>Align_After_Left_Turn</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>447.44451876755375</real>
					<key>controlPoint1Y</key>
					<real>825.74785178963828</real>
					<key>controlPoint2X</key>
					<real>478.82729299011362</real>
					<key>controlPoint2Y</key>
					<real>1066.1675385497037</real>
					<key>dstPointX</key>
					<real>557.82071474053384</real>
					<key>dstPointY</key>
					<real>1131.9953900083879</real>
					<key>srcPointX</key>
					<real>360.24791350425949</real>
					<key>srcPointY</key>
					<real>771.24997350007948</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>289.45696549733645</real>
					<key>controlPoint1Y</key>
					<real>804.90606857675471</real>
					<key>controlPoint2X</key>
					<real>289.92577631891299</real>
					<key>controlPoint2Y</key>
					<real>858.73051388771023</real>
					<key>dstPointX</key>
					<real>298.57110378257806</real>
					<key>dstPointY</key>
					<real>882.5051644127891</real>
					<key>srcPointX</key>
					<real>298.5893007695567</real>
					<key>srcPointY</key>
					<real>781.31420245685229</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.94999999999999996</real>
				<key>green</key>
				<real>0.94999999999999996</real>
				<key>red</key>
				<real>0.94999999999999996</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>60</real>
			<key>internalHeight</key>
			<real>4</real>
			<key>onEntryHeight</key>
			<real>5</real>
			<key>onExitHeight</key>
			<real>4</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>112</real>
			<key>x</key>
			<real>317</real>
			<key>y</key>
			<real>758</real>
			<key>zoomedInternalHeight</key>
			<real>273.5</real>
			<key>zoomedOnEntryHeight</key>
			<real>355</real>
			<key>zoomedOnExitHeight</key>
			<real>331.5</real>
		</dict>
		<key>Align_After_Right_Turn</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>722.85081654506018</real>
					<key>controlPoint1Y</key>
					<real>795.47504926750707</real>
					<key>controlPoint2X</key>
					<real>703.6106111964632</real>
					<key>controlPoint2Y</key>
					<real>1055.3321402168103</real>
					<key>dstPointX</key>
					<real>632.25235494433559</real>
					<key>dstPointY</key>
					<real>1129.9339535713075</real>
					<key>srcPointX</key>
					<real>820.67363893558399</real>
					<key>srcPointY</key>
					<real>762.48828357767934</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>891.77377636038443</real>
					<key>controlPoint1Y</key>
					<real>802.8751478309207</real>
					<key>controlPoint2X</key>
					<real>898.48546268929681</real>
					<key>controlPoint2Y</key>
					<real>857.23488954568779</real>
					<key>dstPointX</key>
					<real>888.61538461538464</real>
					<key>dstPointY</key>
					<real>880.92307692307691</real>
					<key>srcPointX</key>
					<real>884.15039418444849</real>
					<key>srcPointY</key>
					<real>778.37141940826962</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>60</real>
			<key>internalHeight</key>
			<real>0.0</real>
			<key>onEntryHeight</key>
			<real>0.0</real>
			<key>onExitHeight</key>
			<real>0.0</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>112</real>
			<key>x</key>
			<real>869</real>
			<key>y</key>
			<real>754.5</real>
			<key>zoomedInternalHeight</key>
			<real>0.0</real>
			<key>zoomedOnEntryHeight</key>
			<real>0.0</real>
			<key>zoomedOnExitHeight</key>
			<real>0.0</real>
		</dict>
		<key>Continue_Align_Left</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>340.05056601467209</real>
					<key>controlPoint1Y</key>
					<real>858.51406770529729</real>
					<key>controlPoint2X</key>
					<real>337.50658740353589</real>
					<key>controlPoint2Y</key>
					<real>806.20074764291633</real>
					<key>dstPointX</key>
					<real>330.75112620151856</real>
					<key>dstPointY</key>
					<real>782.07410049285454</real>
					<key>srcPointX</key>
					<real>332.12761606685876</real>
					<key>srcPointY</key>
					<real>882.28291754873715</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.94999999999999996</real>
				<key>green</key>
				<real>0.94999999999999996</real>
				<key>red</key>
				<real>0.94999999999999996</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>60</real>
			<key>internalHeight</key>
			<real>51</real>
			<key>onEntryHeight</key>
			<real>51</real>
			<key>onExitHeight</key>
			<real>51</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>112</real>
			<key>x</key>
			<real>316</real>
			<key>y</key>
			<real>906</real>
			<key>zoomedInternalHeight</key>
			<real>316.5</real>
			<key>zoomedOnEntryHeight</key>
			<real>327</real>
			<key>zoomedOnExitHeight</key>
			<real>316.5</real>
		</dict>
		<key>Continue_Align_Right</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>842.29906029863344</real>
					<key>controlPoint1Y</key>
					<real>856.28893058512676</real>
					<key>controlPoint2X</key>
					<real>836.26544468596853</real>
					<key>controlPoint2Y</key>
					<real>800.53564378509134</real>
					<key>dstPointX</key>
					<real>847.28435114717615</real>
					<key>dstPointY</key>
					<real>777.1204675550249</real>
					<key>srcPointX</key>
					<real>851.28696785299667</real>
					<key>srcPointY</key>
					<real>880.55628098190743</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>60</real>
			<key>internalHeight</key>
			<real>0.0</real>
			<key>onEntryHeight</key>
			<real>0.0</real>
			<key>onExitHeight</key>
			<real>0.0</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>112</real>
			<key>x</key>
			<real>869</real>
			<key>y</key>
			<real>904</real>
			<key>zoomedInternalHeight</key>
			<real>0.0</real>
			<key>zoomedOnEntryHeight</key>
			<real>0.0</real>
			<key>zoomedOnExitHeight</key>
			<real>0.0</real>
		</dict>
		<key>Initial</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>594</real>
					<key>controlPoint1Y</key>
					<real>131.25210045305559</real>
					<key>controlPoint2X</key>
					<real>595.12803972770143</real>
					<key>controlPoint2Y</key>
					<real>208.75089833815542</real>
					<key>dstPointX</key>
					<real>595.50726937474042</real>
					<key>dstPointY</key>
					<real>248.00116680668407</real>
					<key>srcPointX</key>
					<real>594</real>
					<key>srcPointY</key>
					<real>92</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.94999999999999996</real>
				<key>green</key>
				<real>0.94999999999999996</real>
				<key>red</key>
				<real>0.94999999999999996</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>60</real>
			<key>internalHeight</key>
			<real>51</real>
			<key>onEntryHeight</key>
			<real>51</real>
			<key>onExitHeight</key>
			<real>51</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>112</real>
			<key>x</key>
			<real>594</real>
			<key>y</key>
			<real>67</real>
			<key>zoomedInternalHeight</key>
			<real>27.5</real>
			<key>zoomedOnEntryHeight</key>
			<real>578.5</real>
			<key>zoomedOnExitHeight</key>
			<real>354</real>
		</dict>
		<key>InitialPseudoState</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>499</real>
					<key>controlPoint1Y</key>
					<real>40</real>
					<key>controlPoint2X</key>
					<real>523.40405007169363</real>
					<key>controlPoint2Y</key>
					<real>62.206009436458089</real>
					<key>dstPointX</key>
					<real>543.29023315008976</real>
					<key>dstPointY</key>
					<real>64.336671909143377</real>
					<key>srcPointX</key>
					<real>499</real>
					<key>srcPointY</key>
					<real>40</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>25</real>
			<key>internalHeight</key>
			<real>0.0</real>
			<key>onEntryHeight</key>
			<real>0.0</real>
			<key>onExitHeight</key>
			<real>0.0</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>25</real>
			<key>x</key>
			<real>492</real>
			<key>y</key>
			<real>37</real>
			<key>zoomedInternalHeight</key>
			<real>0.0</real>
			<key>zoomedOnEntryHeight</key>
			<real>0.0</real>
			<key>zoomedOnExitHeight</key>
			<real>0.0</real>
		</dict>
		<key>Not_Required</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>497.09700288943577</real>
					<key>controlPoint1Y</key>
					<real>116</real>
					<key>controlPoint2X</key>
					<real>559.36560304234399</real>
					<key>controlPoint2Y</key>
					<real>207.15760882158014</real>
					<key>dstPointX</key>
					<real>576.75785874701046</real>
					<key>dstPointY</key>
					<real>249.84769100576131</real>
					<key>srcPointX</key>
					<real>451</real>
					<key>srcPointY</key>
					<real>116</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>60</real>
			<key>internalHeight</key>
			<real>0.0</real>
			<key>onEntryHeight</key>
			<real>0.0</real>
			<key>onExitHeight</key>
			<real>0.0</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>112</real>
			<key>x</key>
			<real>400</real>
			<key>y</key>
			<real>116</real>
			<key>zoomedInternalHeight</key>
			<real>0.0</real>
			<key>zoomedOnEntryHeight</key>
			<real>0.0</real>
			<key>zoomedOnExitHeight</key>
			<real>0.0</real>
		</dict>
		<key>Observe</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>414.74080553581905</real>
					<key>controlPoint1Y</key>
					<real>253.56750379129687</real>
					<key>controlPoint2X</key>
					<real>73.823676231027264</real>
					<key>controlPoint2Y</key>
					<real>399.10772925573224</real>
					<key>dstPointX</key>
					<real>86.925310329929061</real>
					<key>dstPointY</key>
					<real>530.12407024475033</real>
					<key>srcPointX</key>
					<real>545.3938282876029</real>
					<key>srcPointY</key>
					<real>269.89913163526978</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>593.56858103115724</real>
					<key>controlPoint1Y</key>
					<real>336.48581222048824</real>
					<key>controlPoint2X</key>
					<real>593.43141896884276</real>
					<key>controlPoint2Y</key>
					<real>394.51418777951176</real>
					<key>dstPointX</key>
					<real>592.38535817044237</real>
					<key>dstPointY</key>
					<real>433.00922516064736</real>
					<key>srcPointX</key>
					<real>594.61464182955763</real>
					<key>srcPointY</key>
					<real>297.99077483935264</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>475.60340566319815</real>
					<key>controlPoint1Y</key>
					<real>320.38861900800572</real>
					<key>controlPoint2X</key>
					<real>340.07201148003139</real>
					<key>controlPoint2Y</key>
					<real>449.23132734163642</real>
					<key>dstPointX</key>
					<real>327.64007435082772</real>
					<key>dstPointY</key>
					<real>531.28211239438087</real>
					<key>srcPointX</key>
					<real>550.17305668469203</real>
					<key>srcPointY</key>
					<real>283.97088246262501</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>712.77220279058906</real>
					<key>controlPoint1Y</key>
					<real>327.37579474230336</real>
					<key>controlPoint2X</key>
					<real>900.76170835957384</real>
					<key>controlPoint2Y</key>
					<real>438.25105576466376</real>
					<key>dstPointX</key>
					<real>881.01560130669668</real>
					<key>dstPointY</key>
					<real>519.70374735778239</real>
					<key>srcPointX</key>
					<real>640.17546488847859</real>
					<key>srcPointY</key>
					<real>285.49306133723945</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>514.1955501514243</real>
					<key>controlPoint1Y</key>
					<real>233.52141515268926</real>
					<key>controlPoint2X</key>
					<real>417.20756512787949</real>
					<key>controlPoint2Y</key>
					<real>186.76724775290467</real>
					<key>dstPointX</key>
					<real>408.96532256266653</real>
					<key>dstPointY</key>
					<real>140.61068938771206</real>
					<key>srcPointX</key>
					<real>553.37902053523499</real>
					<key>srcPointY</key>
					<real>259.27055283347909</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>60</real>
			<key>internalHeight</key>
			<real>0.0</real>
			<key>onEntryHeight</key>
			<real>0.0</real>
			<key>onExitHeight</key>
			<real>0.0</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>112</real>
			<key>x</key>
			<real>596</real>
			<key>y</key>
			<real>273</real>
			<key>zoomedInternalHeight</key>
			<real>307.5</real>
			<key>zoomedOnEntryHeight</key>
			<real>327</real>
			<key>zoomedOnExitHeight</key>
			<real>325.5</real>
		</dict>
		<key>SUSPENDED</key>
		<dict>
			<key>Transitions</key>
			<array/>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>0.25</real>
				<key>blue</key>
				<real>0.45000000000000001</real>
				<key>green</key>
				<real>0.41999999999999998</real>
				<key>red</key>
				<real>0.23999999999999999</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>60</real>
			<key>internalHeight</key>
			<real>0.0</real>
			<key>onEntryHeight</key>
			<real>0.0</real>
			<key>onExitHeight</key>
			<real>0.0</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>112</real>
			<key>x</key>
			<real>265</real>
			<key>y</key>
			<real>58</real>
			<key>zoomedInternalHeight</key>
			<real>280.5</real>
			<key>zoomedOnEntryHeight</key>
			<real>290.5</real>
			<key>zoomedOnExitHeight</key>
			<real>281</real>
		</dict>
		<key>Straight</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>58.780799863768266</real>
					<key>controlPoint1Y</key>
					<real>761.79571411843244</real>
					<key>controlPoint2X</key>
					<real>365.43532257857453</real>
					<key>controlPoint2Y</key>
					<real>1183.0524811926882</real>
					<key>dstPointX</key>
					<real>546.72312034100946</real>
					<key>dstPointY</key>
					<real>1152.1949837012091</real>
					<key>srcPointX</key>
					<real>84.787510831897237</real>
					<key>srcPointY</key>
					<real>579.74873734152914</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>60</real>
			<key>internalHeight</key>
			<real>0.0</real>
			<key>onEntryHeight</key>
			<real>0.0</real>
			<key>onExitHeight</key>
			<real>0.0</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>112</real>
			<key>x</key>
			<real>92</real>
			<key>y</key>
			<real>555</real>
			<key>zoomedInternalHeight</key>
			<real>0.0</real>
			<key>zoomedOnEntryHeight</key>
			<real>0.0</real>
			<key>zoomedOnExitHeight</key>
			<real>0.0</real>
		</dict>
		<key>Turn_Around</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>690.88689624153426</real>
					<key>controlPoint1Y</key>
					<real>451.7037831443252</real>
					<key>controlPoint2X</key>
					<real>768.75201122528415</real>
					<key>controlPoint2Y</key>
					<real>544</real>
					<key>dstPointX</key>
					<real>818</real>
					<key>dstPointY</key>
					<real>544</real>
					<key>srcPointX</key>
					<real>641.81629836750494</real>
					<key>srcPointY</key>
					<real>455.88000423998727</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>491.1177804754285</real>
					<key>controlPoint1Y</key>
					<real>454.109570738846</real>
					<key>controlPoint2X</key>
					<real>420.02046487727353</real>
					<key>controlPoint2Y</key>
					<real>556</real>
					<key>dstPointX</key>
					<real>371</real>
					<key>dstPointY</key>
					<real>556</real>
					<key>srcPointX</key>
					<real>540.07049070404196</real>
					<key>srcPointY</key>
					<real>456.6860291719309</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>60</real>
			<key>internalHeight</key>
			<real>0.0</real>
			<key>onEntryHeight</key>
			<real>0.0</real>
			<key>onExitHeight</key>
			<real>0.0</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>112</real>
			<key>x</key>
			<real>591</real>
			<key>y</key>
			<real>458</real>
			<key>zoomedInternalHeight</key>
			<real>307.5</real>
			<key>zoomedOnEntryHeight</key>
			<real>327</real>
			<key>zoomedOnExitHeight</key>
			<real>325.5</real>
		</dict>
		<key>Turn_Completed</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>1677</real>
					<key>controlPoint1Y</key>
					<real>628</real>
					<key>controlPoint2X</key>
					<real>804.90116107835945</real>
					<key>controlPoint2Y</key>
					<real>112.57194364719189</real>
					<key>dstPointX</key>
					<real>634.88796590401239</real>
					<key>dstPointY</key>
					<real>256.8255637951226</real>
					<key>srcPointX</key>
					<real>647.89642322604493</real>
					<key>srcPointY</key>
					<real>1149.5925038556334</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>60</real>
			<key>internalHeight</key>
			<real>0.0</real>
			<key>onEntryHeight</key>
			<real>0.0</real>
			<key>onExitHeight</key>
			<real>0.0</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>112</real>
			<key>x</key>
			<real>597</real>
			<key>y</key>
			<real>1148</real>
			<key>zoomedInternalHeight</key>
			<real>309</real>
			<key>zoomedOnEntryHeight</key>
			<real>327</real>
			<key>zoomedOnExitHeight</key>
			<real>324</real>
		</dict>
		<key>Turn_Left</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>318.60406692256072</real>
					<key>controlPoint1Y</key>
					<real>623.99569410594222</real>
					<key>controlPoint2X</key>
					<real>318.39593307743928</real>
					<key>controlPoint2Y</key>
					<real>690.00430589405778</real>
					<key>dstPointX</key>
					<real>317.75734222497528</real>
					<key>dstPointY</key>
					<real>733.0027566266325</real>
					<key>srcPointX</key>
					<real>319.24265777502472</real>
					<key>srcPointY</key>
					<real>580.9972433733675</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.94999999999999996</real>
				<key>green</key>
				<real>0.94999999999999996</real>
				<key>red</key>
				<real>0.94999999999999996</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>60</real>
			<key>internalHeight</key>
			<real>4</real>
			<key>onEntryHeight</key>
			<real>5</real>
			<key>onExitHeight</key>
			<real>4</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>112</real>
			<key>x</key>
			<real>320</real>
			<key>y</key>
			<real>556</real>
			<key>zoomedInternalHeight</key>
			<real>263.5</real>
			<key>zoomedOnEntryHeight</key>
			<real>355</real>
			<key>zoomedOnExitHeight</key>
			<real>341.5</real>
		</dict>
		<key>Turn_Right</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>869</real>
					<key>controlPoint1Y</key>
					<real>614.125</real>
					<key>controlPoint2X</key>
					<real>869</real>
					<key>controlPoint2Y</key>
					<real>684.375</real>
					<key>dstPointX</key>
					<real>869</real>
					<key>dstPointY</key>
					<real>729.5</real>
					<key>srcPointX</key>
					<real>869</real>
					<key>srcPointY</key>
					<real>569</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.94999999999999996</real>
				<key>green</key>
				<real>0.94999999999999996</real>
				<key>red</key>
				<real>0.94999999999999996</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>60</real>
			<key>internalHeight</key>
			<real>4</real>
			<key>onEntryHeight</key>
			<real>5</real>
			<key>onExitHeight</key>
			<real>4</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>112</real>
			<key>x</key>
			<real>869</real>
			<key>y</key>
			<real>544</real>
			<key>zoomedInternalHeight</key>
			<real>254.5</real>
			<key>zoomedOnEntryHeight</key>
			<real>354</real>
			<key>zoomedOnExitHeight</key>
			<real>351.5</real>
		</dict>
	</dict>
	<key>Version</key>
	<string>1.3</string>
</dict>
</plist>
